<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">

    <select id="getBoardList" resultType="board">
        select * from pp5BOARD order by id desc
    </select>
    <select id="getBoard" resultType="board">
        select * from pp5BOARD where id = #{id}
    </select>

    <insert id="insertBoard">
        insert into pp5BOARD (id, title, city, operatingHours, detail, address, category, rating, fee) values (#{id},
        #{title}, #{city},
        #{operatingHours}, #{detail}, #{address}, #{category}, #{rating}, #{fee})
    </insert>

    <update id="updateBoard">
        update pp5BOARD set title=#{title}, city=#{city}, operatingHours=#{operatingHours}, detail=#{detail},
        address=#{address}, rating=#{rating}, fee=#{fee}, category=#{category} where id=#{id}
    </update>

    <delete id="deleteBoard">
        delete from pp5BOARD where id=#{id}
    </delete>

</mapper>
